h1.cartTitle {
    display: flex;
    justify-content: center;
}

.IconCart{
    padding-top: 100px;
    position: fixed;
    font-size: 8pt;
    margin-top: 1px;
    margin-right: 2%;
    top:0;
    right:0;
}

.IconCart:hover{
    background-color: orange;
}

.setFavoriteButton:hover{
    background-color: red;
}

.deleteFromCart:hover{
    background-color: orange;
}