.accountContent {
    height: 500px; /* Changed this height */
    padding-bottom:60px;
}

.headline{
    display: flex;
    justify-content: center;
}

.accountButtons {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.useroverview{
    margin: auto;
    text-align: center;
    width: 20%;
}

.userdatas{
    padding: 5px 30px 30px;
}

.logoutButton{
    height:40px;
    width:170px;
    background-color: #61dafb;
    color: white;
    text-align: center;
}

.logoutButton:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #61dafb;
}


.userdata {
    text-align: left;
    color: black;
}
