.Overview{

}

.IconCart{
    padding-top: 100px;
    position: fixed;
    font-size: 8pt;
    margin-top: 1px;
    margin-right: 2%;
    top:0;
    right:0;
}

.IconCart:hover{
    background-color: orange;
}

.allProducts{
    width: 92%;
    padding-top: 3%;

}
.placeholderProduct{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: 25%;
}
.placeholderImg{
    width: 40%;
    height: 20%;
}

.productImage{
    margin-top: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.productImage:hover{
    transform: scale(1.03);
    -webkittransform:scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.productName{
    display: inline;
    width: 40%;
    margin-left: 5%;
}
.productPrice{
    margin-left: 5%;
    margin-right: 15%;
    width: 30%;
}

.setFavoriteButton:hover{
    background-color: red;
}

.addToCart:hover{
    background-color: orange;
}


/* Small screen / Tablet / 760 px to 991 px*/
@media only screen and (max-width: 991px) {
    .IconCart{
        padding-top: 100px;
        position: fixed;
        font-size: 8pt;
        margin-top: 1px;
        margin-right: 2%;
        top:0;
        right:0;
    }

    .Products{
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 5%;
        justify-content: center;
    }

    .productImage{
        justify-content: center;
        padding: 25px;
        width: 25%;
    }
}

/* Smaller screen / tablet+phone / 480px to 759px */
@media (max-width: 759px) {
    .IconCart {
        padding-top: 100px;
        position: fixed;
        font-size: 8pt;
        margin-top: 1px;
        margin-right: 2%;
        top: 0;
        right: 0;
    }

    .Products {
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 10%;
        justify-content: center;
    }

    .productImage {
        justify-content: center;
        padding: 25px;
        width: 40%;
    }
}

/* Extra small screen / smartphone / 280px to 479px */
@media (max-width: 550px) {
    .IconCart{
        padding-top: 100px;
        position: fixed;
        font-size: 8pt;
        margin-top: 1px;
        margin-right: 2%;
        top:0;
        right:0;
    }

    .Products{
        width: 92%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 5%;
        justify-content: center;
    }

    .productImage{
        justify-content: center;
        padding: 20px;
        width: 39%;
    }
}